* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
button {
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}
nav {
  background-color: palevioletred;
  padding: 3% 0;
}
nav h1 {
  display: inline;
  font-size: 3rem;
}
nav span.count {
  width: 3rem;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: orange;
  border-radius: 50%;
  margin-left: 20px;
  display: inline-block;
}
input {
  width: 40%;
  line-height: 2rem;
  text-align: left;
  padding-left: 0.5rem;
  margin-top: 3%;
}
button.submitBtn {
  width: 3rem;
  line-height: 1.5rem;
  background-color: palevioletred;
  border-radius: 3px;
  margin-left: 1em;
}

.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: rgb(250, 83, 111);
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0 0.2em;
  background-origin: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: green;
}

button.reset {
  line-height: 1.5rem;
  background-color: palevioletred;
  padding: 0.3em 0.5em;
  margin: 2em 0;
  border-radius: 3px;
  text-align: left;
}
